:host {
  background-color: #fff;
  height: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
}

.format-action {
  display: inline-block;
}

.format-actions {
  width: 600px;
}

button + button {
  margin-left: 5px;
}

button.selected {
  background-color: #ffa500; // its designers job =)
}
