<div class="format-actions" *ngIf="{
   word: textService.selectedWord$ | async,
   synonyms: textService.synonyms$ | async
 } as data">
  <div *ngIf="data.word">
    <button class="format-action" [ngClass]="{selected: data.word?.isBold}" type="button"
            (click)="textService.setStyle({ command: stylingEnum.BOLD })"><b>B</b></button>
    <button class="format-action" [ngClass]="{selected: data.word?.isItalic}" type="button"
            (click)="textService.setStyle({ command: stylingEnum.ITALIC })"><i>I</i></button>
    <button class="format-action" [ngClass]="{selected: data.word?.isUnderline}" type="button"
            (click)="textService.setStyle({ command: stylingEnum.UNDERLINE })"><u>U</u></button>
    <div class="format-action">
      <label>Color:</label>
      <select class="format-action"
              (change)="textService.setStyle({ command: stylingEnum.COLOR, parameters: [$event.target?.value] })">
        <option *ngFor="let color of colors" [selected]="color === data.word?.color">{{ color }}</option>
      </select>
    </div>
    <div class="format-action" *ngIf="data.synonyms">
      <label>Synonym:</label>
      <select (change)="textService.setStyle({ command: stylingEnum.SYNONYM, parameters: [$event.target?.value] })">
        <option> -</option>
        <option *ngFor="let synonym of data.synonyms" [selected]="synonym === data.word?.word">{{ synonym }}</option>
      </select>
    </div>
  </div>
</div>
